@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(180deg, #000000, #014421);;
    color: white;
}

header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-logo {
  font-size: 4rem;
  font-weight: 600;
  color: green;
  text-decoration: none;
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 4rem;
  list-style: none;
}

.navbar-container .navbar-menu.active {
  display: flex;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 4rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7s ease;
  white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
  color: black;
  background-color: green;
  border: 2px solid green;
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: white;
  transition: all 0.3s ease-in-out;
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: linear-gradient(180deg, #000000, #014421);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: green;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid green;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid green;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: green;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: green;
    box-shadow: 0  0 25px green;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: green;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid green;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: green;
    color: black;
    box-shadow: 0 0 25px green;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: green;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 60px;
  font: Roboto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

/* KOTAK */
.box {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2.8rem;
  background-color: black;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.3rem;
  border: 5px solid green;
  transition: 0.3s ease;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: 30px;
}

.box:hover {
  transform: scale3d(1.03);
  background-color: green;
  color: black;
  box-shadow: 0 0 25px green;
}

/* Posisi kotak sesuai gambar */
.box h3 {
  text-align: center;
  font-size: 30px;
  text-align: center;
}
.box p {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
  padding: 50px;
}

.section-box {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.section-title {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}


.sub-title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
    max-width: 100%;
}

/* =========== Technical bars ============ */
.skill {
  margin-left: 20px;
    margin-bottom: 18px;
    max-width: 95%;
}

.skill span {
    font-size: 40px;
}

.barskill {
    width: 100%;
    height: 6px;
    background: #bbb;
    border-radius: 10px;
    margin: 6px 0;
}

.progress {
    height: 6px;
    background: green;
    border-radius: 10px;
}

.percent {
    font-size: 40px;
    margin-top: -3px;
    color: #bbb;
}

.ContExp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.ExpBox {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 1rem 2.8rem;
  background-color: black;
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.3rem;
  border: 5px solid green;
  flex-wrap: wrap;
  margin-top: 50px;
}

.footer {
    background: black;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-text {
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
}

@keyframes cursor{
    to{
        border-left: 3px solid green;
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Youtuber";
    }
    81%, 100%{
        content: "Script Writer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
    
    .container{
      gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    
    .container {
      flex-direction: column;
      display: grid;
      margin: 5rem 4rem;
      grid-template-columns: repeat (3, 2fr);
    }
    
    .section-title {
      margin-top: 80px;
      font-size: 80px;
    }
    
    .section-box {
      display: grid;
      margin: 5rem 4rem;
      grid-template-columns: repeat (2, 1fr);
    }
    
    .sub-title {
      font-size: 60px;
    }
    
    .skill {
      margin-left: 20px;
    }
    
    .skill span {
      font-size: 40px;
    }
    
    .percent {
      font-size: 40px;
    }
    
    .ContExp {
      flex-direction: column;
      display: grid;
      margin: 5rem 4rem;
      grid-template-columns: repeat (2, 1fr);
    }
}
    
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;  /* 1 kolom */
    }
    
  .section-title {
    font-size: 40px;
  }
    
  .section-box {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  
  .sub-title {
    font-size: 30px;
  }
  
  .skill {
    margin-left: 0px;
  }
  
  .skill span {
    font-size: 30px;
  }
    
  .percent {
    font-size: 30px;
  }
  
  .ContExp {
    grid-template-columns: 1fr;
  }
  
}

@media(max-width: 880px){
  .navbar {
    backdrop-filter: none;
    position: fixed;
  }
  
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0 0 0 0.5);
    backdrop-filter: blur(10px);
  }
  
  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  
  .navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  }
  
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }
    
    
    }

    .navbar-logo {
        font-size: 4rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 3rem;
        padding: 5px 15px;
    }
}

}


}

